*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 100%;
}
h1 {
  font-size: 50px;
  font-variant: small-caps;
}

h1 {
  direction: rtl;
  unicode-bidi: bidi-override;
}
p{
    font-size: 50px;
    text-align-last: center;
    padding: 10px;
}

h3{
    font-size: 50px;
    text-shadow: 2px 5px 5px gray;
    /* text-shadow: left top blur color; */
}
