body {
  background-color: #0b0d10;
  color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  display: inline-block;
  text-decoration: none;
  padding: 0.25em 1em;
  /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%); */
  /* background-image: linear-gradient(
    to bottom right,
    rgb(224, 7, 206),
    rgb(20, 84, 210)
  ); */
  background-color: #2c3e50;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0px;
  border-radius: 1000px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button::after {
  content: "";
  /* background-color: gray; */
  position: absolute;
  width: 101%;
  height: 107%;
  background-image: linear-gradient(
    to bottom right,
    rgb(20, 84, 210),
    rgb(224, 7, 206)
  );
  border-radius: 1000px;
  z-index: -1;
}

button:hover {
  z-index: 2;
  box-shadow: 5px 0px 5px rgba(20, 83, 210, 0.438),
  -5px 0px 5px rgba(224, 7, 206, 0.501) ;
  cursor: pointer;
}

/* li:first-child{
    color:aqua
}
li:last-child{
    color: aquamarine;
} */
li:nth-child(2n+2){
    color: purple;
}